body{
	background-color: red;
	background-image: url("../images/pizza.jpg");
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-size: contain;
	-mox-background-size: contain; 
    background-size: 100%; 

}

}
@-ms-viewport{
  width: device-width;
}
 @media (max-width: 979px) {
    #myCarousel.carousel img {
    width: 100%;
    height: auto;

    }
    }

    @media (max-width: 470px) {
    #myCarousel.carousel img {
    max-width:300%;
    width:150%;
    min-height: 300px;
    }
    }
