body{
	background-color: red;
	background-image: url("../images/wood2.jpg");
	background-attachment: fixed;
	background-size: 100%;
	-mox-background-size: contain; 
    background-size: 100%; 
     background-size: 100% 100%;v
    background-repeat: no-repeat;
    position: center, fixed;
    color: grey;

}
.term{
    height: 150px;
    width: 150px;

}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

}
@-ms-viewport{
  width: device-width;
}
 @media (max-width: 979px) {
    #myCarousel.carousel img {
    width: 100%;
    height: auto;

    }
    }

    @media (max-width: 470px) {
    #myCarousel.carousel img {
    max-width:300%;
    width:150%;
    min-height: 300px;
    }
    }
